<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zhangsi929.f4_ui_1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Duke Lost and Found"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".LostReport" />
        <activity android:name=".FoundReport" />
        <activity android:name=".InfoView" />
        <activity android:name=".DetailView" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".QueryActivity" />
        <activity android:name=".MatchingResults" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".EditProfileActivity"></activity>
    </application>

</manifest>